<!-- carga la estructura de la página base.html -->
{% extends "base.html" %}


<!-- agrega al head solo para ésta página -->
{% block extrahead %}
  <link rel="stylesheet" href="assets/stylesheets/inicio.css">
  <meta property="og:url" content="https://zuluta.github.io/docs/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="ZulutaDev">
  <meta property="og:description" content="Accede a mi documentación de proyectos, tutoriales de programación, guías de instalación, desde un único lugar."> <!-- descripción de url a compartir -->
  <meta property="og:image" content="https://zuluta.github.io/docs/assets/images/og.png">
  <meta property="og:locale" content="es_ES">
{% endblock%}


<!-- crear contenido de página -->
{% block content %}
  <!-- artículo -->
  <article>
    <!-- container principal -->
    <div class="main-container">

      <!-- container de imagen -->
      <div class="image-container">
        <img src="assets/images/docs.png" alt="" draggable="false">
      </div>

      <!-- container de texto -->
      <div class="text-container">
        <h2>Desarrollador Full Stack</h2>
        <p>Accede a mi documentación de proyectos, tutoriales de programación, guías de instalación, desde un único lugar.</p>
        <a href="tutoriales/" title="Tutoriales" class="md-button md-button--primary">
          Tutoriales
        </a>
        <a href="devcamp/" title="DebCamp documentación" class="md-button">
          DebCamp
        </a>
      </div>

    </div>
  </article>
{% endblock %}
