<!-- carga la estructura de la página base.html -->
{% extends "base.html" %}


<!-- agrega al head para todas las páginas -->
{% block extrahead %}
<meta property="og:url" content="https://zuluta.github.io/docs/">
<meta property="og:type" content="website">
<meta property="og:title" content="ZulutaDev">
<meta property="og:description" content="Accede a mi documentación de proyectos, tutoriales de programación, guías de instalación, desde un único lugar."> <!-- descripción de url a compartir -->
<meta property="og:image" content="https://zuluta.github.io/docs/assets/images/og.png">
<meta property="og:locale" content="es_ES">
{% endblock%}
