<!-- Comentario -->
{#- Este archivo se generó automáticamente - no editar -#}


<!-- Carga el archivo base.html -->
{% extends "base.html" %}


<!-- Estilo principal personalizado -->
{% block extrahead %}
{{ super() }}
<link rel="stylesheet" href="{{ 'assets/stylesheets/inicio.css' | url }}">
{% endblock%}


<!-- JavaScript principal personalizado -->
{% block scripts %}
  {{ super() }}
  <!-- <script src="{{ 'assets/javascripts/custom.js' | url }}"></script> -->
{% endblock %}
