<!-- Comentario -->
{#- Este archivo se generó automáticamente - no editar -#}


<!-- Carga el archivo base.html -->
{% extends "base.html" %}


<!-- Estilo principal personalizado -->
{% block extrahead %}
{{ super() }}
<link rel="stylesheet" href="assets/stylesheets/inicio.css">
<meta property="og:url" content="https://zuluta.github.io/docs/"> <!-- url a compartir -->
<meta property="og:type" content="website"> <!-- tipo de url a compartir -->
<meta property="og:title" content="ZulutaDev"> <!-- título de url a compartir -->
<meta property="og:description" content="Documentación de proyectos, tutoriales de programación, guías de instalación, todo en un único lugar."> <!-- descripción de url a compartir -->
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/0b062368-c819-4b5d-920f-ede969346301.png?token=GycCQS5_PfrzltstJIvOS2pWYycjshJPIEibUBM4Ksc&height=868&width=1200&expires=33281171147"> <!-- imagen de url a compartir -->
<meta property="og:locale" content="es_ES">
{% endblock%}


<!-- JavaScript principal personalizado -->
{% block scripts %}
  {{ super() }}
  <!-- <script src="{{ 'assets/javascripts/custom.js' | url }}"></script> -->
{% endblock %}
