{% extends "base.html" %}

{% block extrahead %}
<meta property="og:url" content="https://zuluta.github.io/docs/">
<meta property="og:type" content="website">
<meta property="og:title" content="ZulutaDev">
<meta property="og:description" content="Si estás interesado en trabajar como desarrollador web, no hay mejor momento que éste para intentarlo. Recuerda que no hay un camino predeterminado para convertirse en un desarrollador web profesional."> <!-- descripción de url a compartir -->
<meta property="og:image" content="https://zuluta.github.io/docs/assets/images/og.png">
<meta property="og:locale" content="es_ES">
{% endblock%}
