/* sección de programación */

/* anchura tabla de contenido en resolución superor a 960px */
@media (min-width: 960px) {
    .md-sidebar--secondary {
        width: 17rem;
        margin-left: 1rem;
    }
}

@media (min-width: 720px) {
    .list-group-post {
        box-shadow: 15px 15px 0 0 #f0db4f,15px 15px #323330;
    }
}

.md-main__inner {
    margin-top: 1rem;
}

.md-nav {
    font-size: .75rem;
    line-height: 1.3;
}

.list-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.list-group-post {
    position: relative;
    background-color: #fff;
    font-size: 1rem;
    border: solid 3px #323330;
    border-radius: .5rem;
    padding: 1rem;
}

.list-group-title {
    display: block;
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: .8rem;
}

.list-group-title a {
    color: inherit;
}

.list-group-description {
    font-size: .8rem;
    line-height: 1.4;
}
